<h1><%=@site.name %></h1>

<h2><%=@site.address%></h2>
<h2>Start Time: <%=@site.start_time%> | End Time: <%=@site.end_time%> <br>
<h3>Days of the Week: </h3>

    <% if @site.monday %>
      <%= "Monday" %>
    <%end%>

    <% if @site.tuesday %>
        <%= "Tuesday" %>
    <%end%>

    <% if @site.wednesday %>
        <%= "Wednesday" %>
    <%end%>

    <% if @site.thursday %>
        <%= "Thursday" %>
    <%end%>

    <% if @site.friday %>
        <%= "Friday" %>
    <%end%>

    <% if @site.saturday %>
        <%= "Saturday" %>
    <%end%>
    
    <% if @site.sunday %>
        <%= "Sunday" %>
    <%end%>
